.topImages {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topMiddle {
    margin-right: 200px;
}

#topFarRight {
    margin-left: 150px;
}

#topRightEdge {
    margin-right: 50px;
}

.centerImage {
    display: flex;
    justify-content: center;
}

.bottomImage { 
    padding-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
