.topImages {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#topFarRight {
    margin-left: 100px;
}

.centerImage {
    display: flex;
    justify-content: center;
}

.bottomImage { 
    padding-top: 50px;
    text-align: center;
}



/* .bottomText {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-right: 40px;
} */